In [1]:
import pickle
import pandas as pd
import numpy as np

In [2]:
dataset = pickle.load(open('processed_dataset_with_toss.pkl','rb'))

In [3]:
dataset['result'].value_counts()

1    399
0    375
Name: result, dtype: int64

In [4]:
eligiblie_citys = ['Colombo','Mirpur','Johannesburg',         
'Dhaka',                 
'Auckland',              
'Abu Dhabi',             
'Cape Town',             
'London',                
'Barbados',              
'Wellington',            
'Durban',                
'Nottingham',            
'Lauderhill',            
'Lahore',                
'St Lucia',             
'Hamilton',              
'Harare',                
'Centurion',             
'Southampton',           
'Kolkata',               
'Belfast',               
'Manchester',            
'Dubai',                 
'Sydney',                 
'Mount Maunganui',        
'Cardiff',]

In [5]:
count = 0
count1 = 0
count3 = 0
for i in dataset['city']:
    print(i in eligiblie_citys)
    count = count + 1
    if (i in eligiblie_citys):
        count1 = count1 + 1
    else:
        dataset['city'] = dataset['city'].replace(i,"NULL")

True
True
True
False
True
False
True
False
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
False
False
True
False
True
True
True
False
False
False
True
False
True
True
True
False
False
False
False
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
False
False
True
True
False
True
True
True
False
False
True
True
True
False
False
False
False
False
True
True
True
True
False
False
False
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
False
False
True
True
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
True
True
True
False
False
True
True
True
False
False
True
True
True
False
True
True
False
False
True
False
True
True
True
True
True
True
False
False
True
True
False
False
True
False
False
True
True
False
True
True
False
False
True
False
True
False
True
False
False
True
True
False
False
True
True
False
True
True
True
True
True
True
False
False
True
True
True
False
True
True
True
False
False
False
False
False
False
True
True
False
True
True
False
False
True
True
True
True
False
False
True
False
False
True
False
False
False
False
False
False
False
True
False
False
False
False
True
True
True
True
False
False
False
True
True
False
False
False
False
False
False
False
True
True
True
False
True
True
False
True
False
True
False
False
True
True
False
True
False
True
True
False
True
True
False
True
True
True
True
True
True
True
False
False
False
False
True
True
False
False
False
True
False
True
True
False
False
False
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
False
False
False
False
False
False
False
False
False
False
True
True
True
True
True
True
True
False
True
False
False
False
False
True
True
True
True
True
False
False
False
True
True
False
False
True
False
False
False
False
False
False
False
False
True
False
False
False
False
False
False
True
False
False
False
False
False
False
False
False
False
True
True
True
True
True
True
True
False
True
False
False
False
False
False
False
False
True
True
True
True
False
True
False
False
False
False
False
False
False
True
False
False
True
False
False
False
True
True
True
True
True
False
False
False
True
False
True
True
False
False
False
False
False
False
True
False
True
True
True
True
False
False
False
True
True
False
False
False
False
True
True
True
True
True
True
False
False
False
True
False
True
True
True
True
True
True
True
False
False
False
False
False
True
False
False
True
False
False
False
False
False
False
False
False
False
True
True
True
True
True
False
False
False
False
False
False
False
True
True
False
False
True
False
True
True
True
True
True
True
True
False
False
True
False
False
True
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
True
True
True
False
True
False
False
False
False
False
False
False
False
False
True
False
False
True
True
True
True
True
False
False
False
False
False
False
False
True
True
True
False
False
False
True
True
True
True
True
True
True
True
False
False
False
False
True
True
False
False
True
True
False
False
False
True
True
False
False
False
True
True
True
True
False
False
False
True
True
True
True
False
True
True
False
True
True
False
True
True
True
True
False
False
False
False
False
True
True
True
True
True
True
True
False
True
True
True
True
True
False
False
False
False
False
False
False
False
True
True
True
True
True
True
False
False
False
False
False
False
False
False
False
False
False
True
False
False
False
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
False
False
False
False
False
True
True
True
False
True
True
False
True
True
False
True
False
True
True
False
True
True
True
True
True
False
True
True
True
True
True
False
True
False
True
True
True
True
True
False
False
True
True
True
True
False
False
False
False
False
False
False
False
False
False
True
True
True
False
False
True
True
True
False
False
True
True
True
True
True
True
True
False
True
True
True
False
False
False
False
False
True
True
False
False
False
True
True
True

In [6]:
dataset

            team_1       team_2          city  toss_winner  result
0          England    Australia   Southampton            1       1
1      New Zealand    Australia      Auckland            0       0
2     South Africa  New Zealand  Johannesburg            0       0
3          England     Pakistan          NULL            1       0
4          England    Sri Lanka   Southampton            0       0
...            ...          ...           ...          ...     ...
2056   New Zealand  West Indies          NULL            1       1
2057   New Zealand  West Indies          NULL            1       0
2212      Zimbabwe   Bangladesh        Harare            1       1
2213      Zimbabwe   Bangladesh        Harare            1       0
2214      Zimbabwe   Bangladesh        Harare            1       1

[774 rows x 5 columns]

In [7]:
dataset['team_1'].unique()

array(['England', 'New Zealand', 'South Africa', 'Australia',
       'Bangladesh', 'India', 'Pakistan', 'West Indies', 'Sri Lanka',
       'Ireland', 'Afghanistan', 'Zimbabwe'], dtype=object)

In [8]:
dataset = dataset[['toss_winner','team_1', 'team_2', 'city', 'result']]

In [9]:
dataset

      toss_winner        team_1       team_2          city  result
0               1       England    Australia   Southampton       1
1               0   New Zealand    Australia      Auckland       0
2               0  South Africa  New Zealand  Johannesburg       0
3               1       England     Pakistan          NULL       0
4               0       England    Sri Lanka   Southampton       0
...           ...           ...          ...           ...     ...
2056            1   New Zealand  West Indies          NULL       1
2057            1   New Zealand  West Indies          NULL       0
2212            1      Zimbabwe   Bangladesh        Harare       1
2213            1      Zimbabwe   Bangladesh        Harare       0
2214            1      Zimbabwe   Bangladesh        Harare       1

[774 rows x 5 columns]

In [10]:
dataset['city'].unique()

array(['Southampton', 'Auckland', 'Johannesburg', 'NULL', 'Wellington',
       'London', 'Cape Town', 'Durban', 'Manchester', 'Barbados',
       'Centurion', 'Nottingham', 'Hamilton', 'Colombo', 'St Lucia',
       'Cardiff', 'Lauderhill', 'Abu Dhabi', 'Sydney', 'Kolkata',
       'Mirpur', 'Belfast', 'Lahore', 'Mount Maunganui', 'Dhaka',
       'Harare', 'Dubai'], dtype=object)

In [11]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

In [12]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['team_1','team_2','city'])
]
,remainder='passthrough')

In [13]:
X = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1]
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [14]:
print(X_train)

      toss_winner       team_1        team_2         city
1224            1   Bangladesh   Afghanistan         NULL
193             0  New Zealand      Zimbabwe     Auckland
553             0      England     Sri Lanka  Southampton
474             1    Australia  South Africa         NULL
1196            1    Sri Lanka   New Zealand         NULL
...           ...          ...           ...          ...
1725            1        India       England  Southampton
2054            1        India   West Indies   Lauderhill
87              0  New Zealand     Sri Lanka   Nottingham
322             0        India      Pakistan         NULL
42              1      England   New Zealand   Manchester

[619 rows x 4 columns]

In [15]:
print(y_train)

1224    1
193     1
553     1
474     0
1196    0
       ..
1725    1
2054    1
87      0
322     0
42      1
Name: result, Length: 619, dtype: int32

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [17]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [18]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['team_1', 'team_2',
                                                   'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [19]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
#classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
pipe4 = Pipeline(steps=[
    ('step1',trf),
    ('step2',RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0))
])
pipe4.fit(X_train,y_train)
y_pred = pipe4.predict(X_test)
accuracy_score(y_test,y_pred)

0.49032258064516127

In [20]:
from sklearn.svm import SVC
pipe1 = Pipeline(steps=[
    ('step1',trf),
    ('step3',SVC(kernel = 'linear', random_state = 0))
])
pipe1.fit(X_train,y_train)
y_pred = pipe1.predict(X_test)
accuracy_score(y_test,y_pred)

0.6193548387096774

In [21]:
from sklearn.naive_bayes import GaussianNB
#classifier = 
pipe2 = Pipeline(steps=[
    ('step1',trf),
    ('step2',GaussianNB())
])
pipe2.fit(X_train,y_train)
y_pred = pipe2.predict(X_test)
accuracy_score(y_test,y_pred)

0.6

In [22]:
pickle.dump(pipe1,open('Match_winning_propablity_toss_calculator_using_svm_model.pkl','wb'))

In [23]:
input_df = pd.DataFrame({'toss_winner':[1],'team_1':'India','team_2':'England','city':'Sydney'})

In [28]:
pipe2.predict(input_df)

array([1])

In [29]:
pipe2.predict_proba(input_df)

array([[0.0411478, 0.9588522]])

In [27]:
pipe1 = pickle.load(open('Match_winning_propablity_toss_calculator_using_svm_model.pkl','rb'))